@page
@model BookingEngine.Pages.Reservation.ThanksModel
@{
    ViewData["Title"] = "Thanks";
}
<style>
    .img-container {
        text-align: center;
    }
   
</style>
<style>
body { background-image: url('https://cdn.nohat.cc/thumb/f/720/5246265369559040.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%; }
</style>
<div class="img-container">

    <h1 style="color:crimson">Successfull! Thanks for booking</h1>
    <h2 style="color:black">@Model.BookedByGuest.FirstName</h2>
    <h2 style="color:black">@Model.BookedRoom.Description</h2>
    <br />
    <img src="@Model.BookedRoom.Base64Image" width="400" height="350" />
  
</div>
<div style="text-align:right">
    <a asp-page="Welcome" class="btn btn-primary">Go For New Reservation</a>
</div>  