@page
@model BookingEngine.Pages.Reservation.UpdatedModel
@{
    ViewData["Tiitle"] = "Updated";
}
<style>
body { background-image: url('https://www.sheknows.com/wp-content/uploads/2018/08/x2lxpuxxdctvotymntmc.jpeg?w=1024'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%; }
</style>

<h1 class="text-center" style="color:darkred">Reservation has been Updated Successfull !</h1>
<br />
<div>
        <a asp-page="Admin" class="btn btn-primary">Go Back to Administration</a>
</div>
