@page
@model BookingEngine.Pages.Reservation.UpdatedModel
@{
    ViewData["Tiitle"] = "Updated";
}
<h1 style="text-align:center">Reservation has been Updated Successfull</h1>
<div>
        <a asp-page="Admin">Go Back to Administration</a>
</div>
